# Target Environment
# production or development
APP_ENV="production"

# Omeka Database Information
DB_HOST="db"
DB_PREFIX="omeka"
DB_CHARSET="utf8"
DB_PORT="3306"

# Versions of the EUK and FA services
EUK_TAG="latest"
FA_TAG="latest"

PROJECT_ROOT="."

SOLR_URL="url/to/solr/instance"
FA_BASE_URL="/fa/findingaid/?id="
DIP_STORE_BASE_URL="/dips"
