*.sql
!/assets/demo.sql
backup/*
!backup/README.md
/app/dist/*
dist/*
/app/themes/omeukaprologue/assets/css/main.min.css
node_modules/
.env*
!.env.ci
!.env.dev
nginx/default.conf
nginx/default.prod.conf
docker-entrypoint-initdb.d/
app/files
app/theme
/utils/profiles/*
!utils/profiles/exampleprofile.sh
/xml
/secrets
/vendor
db.ini
