app/dist/*
app/theme/assets/css/main.min.css
*.sql
backup/*
!backup/README.md
/app/dist/*
dist/*
/app/theme/assets/css/main.min.css
node_modules/
.env
nginx/default.conf
nginx/default.prod.conf
docker-entrypoint-initdb.d/
app/files
/utils/profiles/*
!utils/profiles/exampleprofile.sh
/xml
/secrets
