<div class="slab slab--blue-gray">
    <div class="slab__wrapper">
        <div class="editorial">
            <div class="harmful-lang">
                <p>
                You may come across language in UK Libraries Special Collections Research Center collections and online resources that you find harmful or offensive. SCRC collects materials from different cultures and time periods to preserve and make available the historical record. These materials document the time period when they were created and the view of their creator. As a result, some may demonstrate racist and offensive views that do not reflect the values of UK Libraries.
                </p>

                <p>
                If you find a description with problematic language that you think SCRC should review, please contact us at <a href="mailto:SCRC@uky.edu">SCRC@uky.edu</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="slab">
  <div class="slab__wrapper">
      <div class="alert in-page-alert">
          <div class="icon-wrapper">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="24" cy="24" r="24" fill="#1E8AFF"></circle>
                  <rect x="22" y="12" width="4.54545" height="4.54545" fill="white"></rect>
                  <rect x="22" y="19.9545" width="4.54545" height="17.0455" fill="white"></rect>
              </svg>
          </div>
          <div>
              <h2>Harmful Language Statement</h2>
              <div class="message">
                  <p>
                      You may come across language in UK Libraries Special Collections Research Center collections and online resources that you find harmful or offensive. SCRC collects materials from different cultures and time periods to preserve and make available the historical record. These materials document the time period when they were created and the view of their creator. As a result, some may demonstrate racist and offensive views that do not reflect the values of UK Libraries.
                  </p>
                  <p>
                      If you find a description with problematic language that you think SCRC should review, please contact us at <a href="mailto:SCRC@uky.edu">SCRC@uky.edu</a>.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>

