<div class="slab slab--light-gray slab--thin">
    <div id="outer_footer_funders" class="slab__wrapper">
        <div class="editorial">
            <h2 class="headline-group">
                <span class="headline-group__head">Supporting Organizations</span>
                <span class="headline-group__sub">Content made available with the support of these organizations</span>
            </h2>
        </div>
        <div class="grid grid--5-up sponsor-logo">
            <div class="grid__column">
                <a href="https://www.imls.gov/"><img id="footer_funder_image" class="lazy sponsor-logo-short" src="<?= $this->assetPath('images/middlegray.png') ?>" data-src="/assets/images/imls.png" alt="Institute of Museum and Library Services" /><span class="show-for-sr">(external link)</span></a>
            </div>
            <div class="grid__column">
                <a href="https://www.clir.org/"><img class="lazy sponsor-logo-short" src="<?= $this->assetPath('images/middlegray.png') ?>" data-src="/assets/images/clir.svg" alt="Council on Library and Information Resources"/><span class="show-for-sr">(external link)</span></a>
            </div>
            <div class="grid__column">    
                <a href="https://www.neh.gov/"><img class="lazy sponsor-logo-short" src="<?= $this->assetPath('images/middlegray.png') ?>" data-src="/assets/images/neh_preferred_black.png" alt="National Endowment for the Humanities" /><span class="show-for-sr">(external link)</span></a>
            </div>
            <div class="grid__column">    
                <a href="https://www.archives.gov/nhprc"><img class="lazy sponsor-logo-short" src="<?= $this->assetPath('images/middlegray.png') ?>" data-src="/assets/images/nhprc-logo.png" alt="National Archives - National Historical Publications and Records Commission"/><span class="show-for-sr">(external link)</span></a>
            </div>
            <div class="grid__column">    
                <a href="https://heyburncollections.org/"><img class="lazy sponsor-logo-short" src="<?= $this->assetPath('images/middlegray.png') ?>" data-src="/assets/images/heyburn.avif" alt="The John G. Heyburn II Initiative for Excellence in the Federal Judiciary"/><span class="show-for-sr">(external link)</span></a>
            </div>
        </div>
    </div>
</div>

