server {
	listen 80;
	root /omeka;
	index catalog.php index.php;
	
	# 127.0.0.11 is the internal docker DNS server for every container
	resolver 127.0.0.11 valid=5s;

	location / {
		try_files $uri $uri/ /catalog.php;
	}

	location /install/ {
		index install.php;
		try_files $uri $uri/ /install/install.php?$query_string;
	}

	location /admin {
		try_files $uri $uri/ /admin/index.php?$query_string;
	}

	location /catalog {
		rewrite ^/catalog /catalog.php last;
	}

	location ~ \.php$ {
		include fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		fastcgi_param PATH_INFO $fastcgi_path_info;

		# Setting the service as a variable forces nginx to use the resolver
		set $upstream_omeka omeka:9000;
		fastcgi_pass $upstream_omeka;
	}

	location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
		expires max;
	}

	location ~ /\.ht {
		deny all;
	}
}
