/*
 * Custom overrides for BookReader Demo.
 */

#BRtoolbar {
    display: none;
}

/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}

#BRtoolbar,
div#BRnav,
div#BRfiller,
div#BRzoomer button,
.BRnavCntl {
    background-color: #f7f7f7;
}
